<div class="col-lg-4 burger">
	<div class="panel panel-default">
	  <div class="panel-heading">{{country}}</div>
	  <div class="panel-body"> 
		Burger Cost: {{cost}} {{currency}}
		
	  </div>
	</div>				
</div>