<div class="col-lg-4 panel-burger">
	<div class="panel panel-default">
	  <div class="panel-heading">{{country}}</div>
	  <div class="panel-body"> 
	  	<div class="native-cost" data-cost="{{cost}}" data-exchange="{{exchangerate}}">
			Burger Cost: {{cost}} {{currency}}
		</div>
		<div class="true-cost">
			True Cost: <span class="val"></span>
		</div>
		 <div class="container burgers">
			<div class="row">
				{{#graph}}
				<div class="burger">
					<img 
						{{#dec}}
							data-dec="{{dec}}"
						{{/dec}} 
						src="http://www.mcdonalds.ca/content/dam/Canada/en/product_pages/burgers-sandwiches/hero/hero_big-mac.png">
				</div>
				{{/graph}}
			</div>
		 </div>
	  </div>
	</div>				
</div>