<footer class="footer">
  <div class="container">
    <p class="text-muted"><a href="http://www.economist.com/content/big-mac-index">Data taken from the economist</a></p>
  </div>
</footer>
	</body>
</html>