<html>
	<head>
		<link 
		    href="https://bootswatch.com/cerulean/bootstrap.min.css" 
			rel="stylesheet" 
			>

		{{#headStyles}}
			<link rel="stylesheet" type="text/css" href="{{.}}">
		{{/headStyles}}

		<script	
		  	src="https://code.jquery.com/jquery-3.2.1.min.js"
		  	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		  	crossorigin="anonymous"></script>

		<script 
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
			crossorigin="anonymous"></script>

	  	{{#headScripts}}
			<script type="text/javascript" src="{{.}}"></script>
	  	{{/headScripts}}
	</head>
	<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Big Mac Index</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
	</nav>