{{>header}}
	<div class="container">

		<div class="row">
			<select class="country-selector">
				<option value="CAD">CAD</option>
				<option value="USD">USD</option>
				<option value="INR">INR</option>
			</select>
		</div>
		<div class="row">
			<div class="col-lg-4 burgers">
				{{#burgers.graph}}
				<div class="burger">
					<img 
						{{#dec}}
							data-dec="{{dec}}"
						{{/dec}} 
							src="http://www.mcdonalds.ca/content/dam/Canada/en/product_pages/burgers-sandwiches/hero/hero_big-mac.png">
				</div>
				{{/burgers.graph}}
			</div>
		</div>
	</div>
{{>footer}}